
.container{
    padding-left: 100px;
    padding-right: 100px;
}
.div1{
    display:flex
}

.div-left{
    width: 50% ;
    margin-right: 50px;
}

.div-right{
    width: 50%
}

.tieude{
    color: blue; 
    text-align: center;
}

.course{
    padding-left: 100px;
    padding-right: 100px;

}
     
.img-box{
    display:flex
}
.img-div2{
    width: 25%; 
    margin-left: 10px
}
